@media all and (max-width: 425px) and (min-width:320px){
html body .wrapper .header .logo h3 {
    font-size: 1.15rem;
}
html body .wrapper .header .burger {
    display: block;
    top: 31px;
    right: 45px;
    position: absolute;
}
html body .wrapper .header .sign-btn {
    width: 25%;
    position: absolute;
    bottom: 6px;
    right: 170px;
}
html body .wrapper .header .menu ul .sign-btn {

    position: absolute;
    top: 180px;
    left: -20px;
}
html body .wrapper .header {
    flex-direction: column;
}
html body .wrapper .header .menu ul li {
    margin: 10px 0 0 15px;
}
html body .wrapper .header .menu ul {
    width: 20%;
}
.banr-section .main-bannr-sec a {
    font-size: 0.75rem;
    width: 40%;
}
.v-height{
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(183%, 24%);
    
    text-align: center;
}

.display{
	display: block !important;
	animation: my-animate 1.5s;
}
@keyframes my-animate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.h-height{
	height: 275px !important;
}
.opacity{
	opacity: 0.09;
}
html body .wrapper .header .sign-btn {
    display: none;
}
html body .wrapper .banner .bnr-content a {
    width: 48% !important;
    font-size: 0.75rem;
}
html body .wrapper .banner .bnr-content {
    width: 100%;
}
html body .wrapper .banner .bnr-content h1 {
    font-size: 2.8rem;
}
html body .wrapper .header .menu {
    display: none;
}
.sub-col-1 {
    width: 110px;
}
.about .choose-program .prog-col .sub-col img {
    width: 80%;
    margin: 0 auto;
    display: block;
}
	.about {
    height: 1175px;
}
.about .main-about .abt-para {
    width: 84%;
    padding: 0;
    margin: 10px auto;
}
	.about .choose-program {
    display: flex;
    flex-direction: column;
}
.our-clasess .classes-cont-col {
    display: flex;
    flex-direction: column;
}
.our-clasess {
    height: 1287px;
}
.trainer .training-content {
    display: flex;
    flex-direction: column;
}
.trainer .train-content p {
     padding: 0; 
  }
  .our-clasess .classes-cont-col .cls-col .cls-sub-col {
    height: 125px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 9px;
}
.our-clasess .main-classes .cls-cont p {
    margin: 10px auto;
    padding: 0;
    font-size: 0.89rem;
}
.trainer {
    height: 1640px;
}
.our-clasess .classes-cont-col .cls-col .cls-para {
    padding-left: 15px;
    width: 90%;
}
.our-clasess .classes-cont-col .cls-col .cls-para p {
    font-size: 0.689rem;
}
.our-clasess .classes-cont-col .cls-col .cls-heading {
    padding-left: 15px;
}
.our-clasess .classes-cont-col .cls-col .cls-btn {
    padding: 0 0 0 15px;
}
.trainer .training-content .train-col .training-col-cont {
    width: 270px !important;
}
footer .main-footer p {
    font-size: 0.780rem;
}
}

@media only screen and (max-width: 768px){
	html body .wrapper .header .logo h3 {
    font-size: 0.999rem;
}
html body .wrapper .header .logo {
    width: 30%;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    top: 15px;
    /* left: 36px; */
}
html body .wrapper .header .menu {
    width: 58%;
    position: absolute;
    right: 100px;
    top: 12px;
}
html body .wrapper .header .sign-btn a {
    margin: 0 0 0 20px;
}
html body .wrapper .banner .bnr-content a {
    width: 30%;
}
html body .wrapper .banner .bnr-content {
    width: 80%;
}
.about .choose-program .prog-col {
    width: 370px;
}
html body .wrapper .header .menu ul li a {
    padding: 20px 0px 20px 0px;
}
.sub-col-1 {
    width: 110px;
}
.about .choose-program .prog-col .sub-col img {
    width: 75%;
    margin: 0 auto;
    display: block;
}
.sub-col-2 {
    width: 260px;
}
.about .choose-program .prog-col .sub-col p {
    font-size: 0.789rem;
}
.about .choose-program .prog-col .sub-col a {
    font-size: 0.69rem;
    margin: 6px 0 0 17px;
}
.our-clasess {
    padding: 0 15px 0 15px;
}
.trainer .training-content .train-col .training-col-cont h3 {
    font-size: 1.02rem;
    font-weight: 600;
}
.trainer .training-content .train-col .training-col-cont {
    width: 223px;
}
.cls-col-2 {
    height: 421px;
}
}
