@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	padding: 0;
	margin:0;
}
/*uniry-class*/
.my-container{
	max-width: 900px;
	margin: 0 auto;
}
.color{
	color: #f44336;
}
.displayOne{
	display: block;
}
.displayTwo{
	display: block !important;
}
.displayThree{
	display: block !important;
}
.displayFour{
	display: block !important;
}
html {}
html body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
html body .wrapper {}
html body .wrapper .header {
    width: 100%;
    background-color: rgb(234 250 253 / 16%);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
html body .wrapper .header .logo {
    width: 40%;
}
html body .wrapper .header .logo h3 {
    font-size: 2.58rem;
    padding: 12px 0 12px 0;
    color: #fff;
}
html body .wrapper .header .logo span {
    color: #f44336;
}
html body .wrapper .header .menu {
    width: 40%;
}
html body .wrapper .header .menu ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
html body .wrapper .header .menu ul li {
    display: inline-block;
    margin: 15px 0 0 15px;
}
html body .wrapper .header .menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 20px 10px 20px 10px;
    font-size: 0.89rem;
}
html body .wrapper .header .sign-btn {
    width: 12%;
}
html body .wrapper .header .sign-btn a {
    text-decoration: none;
    color: #fff;
    padding: 8px 9px 10px 9px;
    background-color: #F44336;
    margin: 0 0 0 39px;
    font-size: 0.89rem;
}
html body .wrapper .banner {
	background-image: linear-gradient(rgb(40 19 9 / 79%),rgb(109 27 18 / 55%)),url(../img/banner.jpg);
	height: 657px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
html body .wrapper .banner .bnr-content {
	width: 75%;
	margin: 0 auto;
	display: block;
}
html body .wrapper .banner .bnr-content p {
	text-align: center;
	font-weight: 800;
	color: #fff;
	letter-spacing: 0.4rem;
}
html body .wrapper .banner .bnr-content h1 {
	    color: #fff;
	    font-size: 4.8rem;
	    display: block;
	    text-align: center;
}
html body .wrapper .banner .bnr-content  a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 5px 15px;
    background-color: #f44336;
    width: 25%;
    font-size: 0.89rem;
    margin: 0 auto;
    color: #fff;
}
.about {
	height: 800px;
}
.about .main-about {
    text-align: center;
}
.about .main-about .abt-heading {
    padding: 50px 0 0;
}
.about .main-about .abt-heading span {
    color: #f44336;
}
.about .main-about .abt-line {}
.about .main-about .abt-heading h2 {
    font-size: 1.52rem;
    font-weight: 700;
}
.about .main-about .abt-line img {}
.about .main-about .abt-para {
    width: 50%;
    margin: 0 auto;
    padding: 20px 12px 0;
}
.about .main-about .abt-para p {
    font-size: 0.89rem;
}
.about .choose-program {
    display: grid;
    grid-template-areas:
        'prog-col-1 prog-col-2'
        'prog-col-3 prog-col-4'
        'prog-col-5 prog-col-6';
}
.about .choose-program .prog-col {display: grid;grid-template-areas:
'sub-col-1 sub-col-2';}
.col-1 {
    grid-area: col-1;
}
.col-2 {
    grid-area: col-2;
}
.about .choose-program .prog-col .sub-col {margin-top: 3rem;}
.sub-col-1 {
    grid-area: sub-col-1;
    width: 140px;
}
.sub-col-2 {
    grid-area: sub-col-2;
    width: 300px;
}
.about .choose-program .prog-col .sub-col a {
    text-decoration: none;
    color: #ed563b;
    display: block;
    font-size: 0.8rem;
    margin: 0 0 0 5px;
}
.about .choose-program .prog-col .sub-col h1 {
    font-size: 1.2rem;
}
.about .choose-program .prog-col .sub-col p {
    font-size: 0.89rem;
}
.banr-section {
    background-image: url(../img/banner2.jpg);
    height: 400px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.banr-section .main-bannr-sec {
    text-align: center;
    color: #fff;
}
.banr-section .main-bannr-sec h2 {padding-bottom: 20px;font-weight: 800;}
.banr-section .main-bannr-sec .color {}
.banr-section .main-bannr-sec p {
    width: 80%;
    margin: 0 auto;
    font-size: 0.89rem;
    padding-bottom: 30px;
}
.banr-section .main-bannr-sec a {
    text-decoration: none;
    color: #fff;
    padding: 12px;
    background-color: #ed563b;
    font-size: 0.9rem;
    display: block;
    width: 25%;
    margin: 0 auto;
}
.our-clasess {
	height: 600px;
}
.our-clasess .main-classes {
	    padding-top: 60px;
	    padding-bottom: 60px;
}
.our-clasess .main-classes .cls-cont {
	    text-align: center;

}
.our-clasess .main-classes .cls-cont h3 {}
.our-clasess .main-classes .cls-cont .line {}
.our-clasess .main-classes .cls-cont p {
	    width: 75%;
    margin: 0 auto;
    padding: 0 50px 0;
}
.our-clasess .classes-cont-col {
    display: grid;
    grid-template-areas:
        'cls-col-1 cls-col-2'
        'cls-col-1 cls-col-3'
        'cls-col-1 cls-col-4'
        'cls-col-1 cls-col-5';
    grid-gap: 1rem;
}
.our-clasess .classes-cont-col .cls-col {}
.our-clasess .classes-cont-col .cls-col .icon {
    margin-right: 5px;
}
.our-clasess .classes-cont-col .cls-col .icon img {}
.our-clasess .classes-cont-col .cls-col .training-cls {
    padding-right: 10px;
}
.our-clasess .classes-cont-col .cls-col .training-cls h3 {
    font-size: 1.2rem;
}
.our-clasess .classes-cont-col .cls-col .cls-img {
}
.our-clasess .classes-cont-col .cls-col .cls-heading {
    padding-top: 22px;
    margin-top: 10px;
}
.our-clasess .classes-cont-col .cls-col .cls-para {}
.our-clasess .classes-cont-col .cls-col .cls-btn {
    padding-top: 15px;
}
.our-clasess .classes-cont-col .cls-col .cls-img img {
    width: 100%;
    border-radius: 6px;
}
.our-clasess .classes-cont-col .cls-col .cls-sub-col {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f2f2f2;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000;
}
.our-clasess .classes-cont-col .cls-col .cls-heading h3 {
    font-size: 1.2rem;
    font-weight: 700;
}
.our-clasess .classes-cont-col .cls-col .cls-para p {
    font-size: 0.89rem;
    padding-top: 15px;
}
.our-clasess .classes-cont-col .cls-col .cls-btn a {
    text-decoration: none;
    font-size: 0.89rem;
    color: #fff;
    padding: 10px 15px 10px 15px;
    background-color: #ed563b;
}
.cls-col-1 {
    grid-area: cls-col-1;
    cursor: pointer;
    grid-template-areas:
        'cls-sub-col-1'
        'cls-sub-col-2'
        'cls-sub-col-3'
        'cls-sub-col-4';
    display: grid;
}
.cls-col-2 {
    grid-area: cls-col-2;
}
.cls-col-3 {
    grid-area: cls-col-3;
    display: none;
}
.cls-col-4 {
    grid-area: cls-col-4;
    display: none;
}
.cls-col-5 {
    grid-area: cls-col-5;
    display: none;
}